.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Cambria;
	height: 100vh;
}

h1 {
	text-align: center;
	font-size: 3em;
	margin-bottom: 1em;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
	border: 2px solid #ccc;
	border-radius: 10px;
}

label {
	margin-bottom: 1em;
	font-size: 1.2em;
}

input[type=email] {
	padding: 0.5em;
	font-size: 1em;
	border-radius: 5px;
	border: none;
	margin-bottom: 1em;
	outline: 2px solid black;
}

button[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 0.5em 1em;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
}

button[type=submit]:hover {
	background-color: #3e8e41;
}

#popup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
 
  


